@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap");

body {
  font-family: "Spline Sans", sans-serif;
  color: #777;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #222;
}

a {
  color: #222;
  text-decoration: none;
  transition: all 0.4s;
  font-weight: 600;
}

a:hover {
  color: #f58d17;
}

img {
  width: 100%;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.shadow-on-hover {
  transition: all 0.3s;
  cursor: pointer;
}

.shadow-on-hover:hover {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/** btn */
.btn {
  padding: 14px 38px;
}

.btn-brand {
  color: #fff;
  font-weight: 500;
  border-color: #f58d17;
  background-color: #f58d17;
}

.btn-brand:hover {
  border-color: #d37810;
  background-color: #d37810;
  color: #fff;
}

/*  sliders */

.bg-cover {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.slide-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bg/bg-1.jpg");
}
.slide-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bg/bg-2.jpg");
}
.slide-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bg/bg-3.jpg");
}

#heroSlider h6::after,
#heroSlider h6::before {
  content: " ";
  width: 40px;
  height: 3px;
  background-color: #fff;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.6);
  width: 40px;
  height: 70px;
  margin: auto;
}

/**  About**/
#about .divider {
  width: 60px;
  height: 2px;
  display: block;
  background-color: #f58d17;
}

/** Intro Text**/
.intro-text {
  margin-bottom: 40px;
  text-align: center;
}

.intro-text p {
  max-width: 500px;
  margin: 16px auto 0 auto;
}

/** Menu**/

#menu .nav-pills .nav-link {
  background-color: #fff;
  margin-left: 8px;
  margin-right: 8px;
  color: #222;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

#menu .nav-pills .nav-link.active {
  background-color: #f58d17;
  color: #fff;
}

.menu-item .stars {
  color: #f58d17;
}

/** Features**/

#features {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bg/bg-1.jpg");
}

.feature{
    
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}
.feature .feature-icon{
    width: 80px;
    height: 80px;
    background-color: #f58d17;
    color: #fff;
    font-size: 28px;
    display: inline-grid;
    align-items: center;
    text-align: center;
}

/** Team**/

.team-member img{
    max-width: 140px;
    box-shadow: -10px -10px 0 #f58d17;
    
}
.img_t{
    border-radius: 50%;
    height: 120px;
    width: 120px;
}


/**Reviews**/

#reviews {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/bg/bg-5.jpg");
  }

.review img{
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.review .quote-icon{
    font-size: 74px;
    color: #f58d17;
}

.review .stars{
    color: #f58d17;
}

#reviews .carousel-indicators{
    margin-bottom: -3rem;
}

/** reservation**/

#reservation .form-control{
    border-radius: 0;
}

#reservation .form-control:focus{
    box-shadow: none;
    border-color: #f58d17;
}

#reservation input.form-control{
    height: 47px;
}

/** Insta post**/
.insta-posts{
    position: relative;
    overflow: hidden;
}

.insta-posts .insta-btn{
    width: 90px;
    height: 90px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 26px;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.insta-posts img{
    transform: all 0.4s;
}

.insta-posts:hover img{
    transform: scale(1.2);
}

.insta-posts:hover .insta-btn{
    opacity: 1;
}

/** Blog Post**/

.blog-post img{
    width: 40%;
    object-fit: cover;
}

@media (max-width: 760px){
    .blog-post{
        flex-direction: column;
    }
    .blog-post img{
        width: 100%;
    }
}

/** Footer**/

footer{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/bg/bg-5.jpg");
    padding-top: 120px;
    padding-bottom: 30px;
}

.footer-top{
    margin-bottom: 30px;
}

footer p,
footer  .s_a{
    color: rgba(255, 255, 255, 0.75);
}


footer footer .social-links .s_a{
    font-weight: normal;
    font-size: 24px;
    margin-right: 10px;
}

.footer-bottom{
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}